<script src="/js/index.js"></script>

<footer>
    &copy; 2020 <%= new Date().getFullYear() === 2020 ? '' : `- ${new Date().getFullYear()}` %> VinylBank<br />
    <i class="fas fa-envelope"></i> <a class="white-link" href="mailto:vinylbank.de@gmail.com">vinylbank.de@gmail.com</a>
</footer>

</html>
