<nav class="nav-logged-out">
    <div class="nav-content container">
        <a href="/" id="logo">VinylBank</a>
        <div id="login-btn" class="btn blue border margin-nav right" onclick="openLoginModal();">
            <i class="fas fa-sign-in-alt"></i> Anmelden
        </div>
    </div>
</nav>
